@charset "UTF-8";
.ajax_mask{
	display: none;
	z-index: 9999;
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: wait;
	background: url(/resources/img/loading.gif) no-repeat center center;
}